PORT=8081
HOSTNAME=localhost
DATABASE_URL=postgresql://neondb_owner:npg_LPqWi6Z7VByS@ep-small-voice-aom5wu2t-pooler.c-2.ap-southeast-1.aws.neon.tech/neondb?sslmode=require&channel_binding=require
ORIGIN_1=http://localhost:4200
ORIGIN_2=localhost:4200
JWT_SECRET=super-secret